# URLを操作する命令を有効化
RewriteEngine On

# スタイルシートや画像、実在するファイル・フォルダはそのまま読み込む
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# 【重要】実在しないURLへのアクセスはすべて index.php に送る
RewriteRule . index.php [L]

# srcフォルダへの直接アクセスを禁止
#ただし以下のPOST用フォルダは除く
#insertLikeData.php
RewriteCond %{REQUEST_URI} !^/src/Model/likeButton/insertLikeData\.php$
RewriteRule ^src/ - [F,L]

# フォルダ内のファイル一覧をブラウザに表示させない
Options -Indexes