/* 背景 */
body {
  background-image: url("/../../images/backGround.jpg");
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 40px 20px;
  font-family: sans-serif;
}

/**
 * 中央寄せに配置される要素
 */
.center-element {
  align-items: center;
  justify-content: center;
  text-align: center;
  /*子要素を改行する*/
  flex-direction: column;
}

/*
*スマホの画面サイズの場合に改行する
*見切れるのが嫌な場合に使う
*書式:<br class="br-sp">
*/
@media screen and (max-width: 768px) {
  .br-sp {
    display: none;
  }
}

/**強調文字*/
.bold-text {
  font-weight: bold;
}

/*やや控えめなサイズの文字*/
.min-text {
  font-size: 13px;
}

/*上の要素に対してスペースを空ける*/
.top-space {
  margin-top: 2.5em;
}

/* リンクボタン */
.link-button {
  display: inline-block;
  /* inline-block に戻します */
  box-sizing: border-box;
  /* paddingで潰れないようにする必須設定 */
  text-align: center;
  /* ボタン内の文字を中央寄せ */

  max-width: 400px;
  /* ボタンの最大横幅 */
  width: 90%;
  /* スマホ画面での横幅 */
  margin: 12px auto;
  padding: 14px 20px;
  background-color: #ffffff;
  border: 1px solid #ffb6c1;
  border-radius: 50px;
  text-decoration: none;
  box-shadow: 0 4px 10px rgba(255, 182, 193, 0.15);
  transition: all 0.3s ease;
}

/*ボタンの追加設定*/
.button-wrapper {
  display: block;
  /* 縦並びのブロックにする */
  text-align: center;
  /* 中にあるボタンを中央に寄せる */
  width: 100%;
}

/* 
*リンクに使用する、ボタン内の文字デザイン
*/
.link-button-text {
  color: #222222;
  font-size: 13px;
  /* 文字間隔*/
  letter-spacing: 0.08em;
  font-weight: bold;
}

/* ボタンにカーソルを乗せた場合 */
.link-button:hover {
  /* 少し浮き上がらせる */
  transform: translateY(-2px);
  /* 影を濃くする */
  box-shadow: 0 6px 15px rgba(255, 105, 180, 0.25);
  /* 背景が変化 */
  background-color: #fff0f5;
}