/* main */
.main-content {
  background-color: #ffffff;
  max-width: 2000px;
  margin: 40px auto 0;
  padding: 40px 5%;
  border-radius: 8px;
}

/* PC画面表示 */
@media screen and (min-width: 768px) {
  .main-content {
    padding: 40px;
  }
}

/*ギャラリーページに表示する画像*/
.gallery-image {
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
  width: 40%;
  display: block;
  margin: 0 auto;
  border: 5px solid gold;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  margin: 8px auto;
}

/* 画像のスマホ表示サイズ */
@media (max-width: 767px) {
  .gallery-image {
    width: 80%;
  }
}