/* ヘッダー全体 */
.site-header {
  display: flex;
  /* 横並びにした要素を、左端と右端に離して配置 */
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  background-color: olive;
  color: #ffffff;
  /* ヘッダーの位置を固定 */
  position: relative;
}

/* ヘッダー内のテキスト */
.header-text {
  color: #fff;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: bold;
}

/* ハンバーガーメニューのボタン */
.menu-open-btn {
  background: none;
  border: none;
  cursor: pointer;
  /* マウスを乗せたときに、矢印から「手袋（クリックできる）マーク」に変える*/
  display: flex;
  /* 縦並びとする */
  flex-direction: column;
  /* 3本線を縦に並べる */
  justify-content: space-between;
  height: 20px;
  width: 25px;
  /*タイトルが長くてもつぶれない設定*/
  flex-shrink: 0;
}

/* ボタンの見た目として表示する三本線 */
.menu-open-btn span {
  display: block;
  height: 3px;
  width: 100%;
  background-color: #fff;
}

/* 
*ハンバーガーボタンを押した場合に表示される、
*ナビメニュー（クリックで展開)
 */
.nav-content {
  /*固定表示*/
  position: fixed;
  top: 0;
  width: 70%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.95);
  /* アニメーション速度 */
  transition: all 0.3s ease;
  z-index: 90;
  padding-top: 80px;
  overflow-y: auto;
  /*right:-100で隠す*/
  right: -100%;
}

/*スマホでのナビメニュー表示*/
@media (max-width: 767px) {
  .nav-content {
    width: 80%;
  }
}


/* ナビメニュー展開時 */
.nav-content.is-open {
  right: 0;
}

/* メニュー内の箇条書きリスト */
.nav-list {
  /* 箇条書きの「・（黒丸）」を消す */
  list-style: none;
  padding: 0;
  margin: 0;
}

/* メニュー内のaタグ */
.nav-list li a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 15px 30px;
  font-size: 1.1rem;
  border-bottom: 1px solid #444;
}

/* 初期状態は非表示にする、ドロップダウンメニュー */
.dropdown-menu {
  display: none;
  list-style: none;
  /* 少し右にずらして階層をわかりやすくする */
  padding-left: 30px;
}

/* クラスがついたら表示 */
.dropdown-menu.is-open {
  display: block;
}

/*各項目のドロップダウンボタン*/
.dropdown-btn {
  display: block;
  width: 100%;
  background: none;
  border: none;
  /* 文字のフォントや太さを親から引き継ぐ */
  font: inherit;
  text-align: left;
  /* 中央寄せになっている文字を左寄せにする */
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  /* 押しやすいように、文字の周りに大きな余白を作成 */
  padding: 15px 30px;
  font-size: 1.1rem;
  border-bottom: 1px solid #444;
}

/* ドロップダウンメニューの▼アイコン */
.dropdown-btn .arrow::after {
  content: '▼';
  font-size: 0.7em;
  margin-left: 5px;
  display: inline-block;
  transition: transform 0.2s;
}

/* 開いている時は矢印を反転 */
.dropdown-btn.is-open .arrow::after {
  transform: rotate(180deg);
}

/*一覧画面へのリンクなどに使う、▶アイコン*/
.arrow-icon {
  font-size: 0.7em;
  margin-left: 7px;
  margin-right: 7px;
}

/*ハンバーガーメニューを閉じるボタン*/
.menu-close-btn {
  position: absolute;
  top: 50px;
  right: 50px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 110;
  padding: 0;
}

/*ハンバーガーメニューを閉じるボタンの装飾*/
.menu-close-btn span {
  font-size: 28px;
  color: #fff;
  font-family: sans-serif;
  line-height: 1;
}