/**TODO　後に使う予定
各スクリーン画面における、テキストの表記及びボタンの装飾を行う*/

/**
* リザルトスクリーン共通の仕様 
*
*ゲームオーバー、ゲームクリア画面で使用する
*/
.result-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: yellow;
  z-index: 20;
  text-align: center;
}