    * {
      padding: 0;
      margin: 0;
      touch-action: none;
    }

    body {
      background-color: black;
      margin: 0;
      padding: 0;
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      user-select: none;
    }

    /*ゲーム画面全体*/
    #game-display {
      position: relative;
      margin: 0 auto;
    }

    /*キャンバス*/
    canvas {
      background: red;
      display: block;
      width: 100vw;
      max-width: 1280px;
      height: auto;
    }

    /*タッチエリア*/
    .paddle-touch-area {
      height: 180px;
      width: 100vw;
      max-width: 1280px;
      margin: 0.5vh auto;
      background-color: gray;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 3vw;
      font-weight: bold;

      /* スマホでの誤動作や画面スクロールを防ぐ設定 */
      touch-action: none;
      user-select: none;
      -webkit-user-select: none;
    }

    /*
    *マウスによるホバーが可能なデバイスの場合における、タッチエリア
    *タッチエリアを非表示とする 
    */
    @media (hover: hover) and (pointer: fine) {
      .paddle-touch-area {
        display: none;
      }
    }

    /* タッチエリアが動作中の場合 */
    .paddle-touch-area.active {
      background-color: #2D3748;
      color: transparent;
    }