    * {
      padding: 0;
      margin: 0;
      touch-action: none;
    }

    body {
      background-color: black;
    }

    canvas {
      margin: 100px auto 0;
      background: red;
      display: block;
      width: 100vw;
      max-width: 780px;
      height: auto;
    }